# APPLICATION
PORT=port
HOST=localhost
ENV=dev # dev, prod
PORT_FRONTEND=http://localhost:port # change host when deploy
RANDOM_PASSWORD=gosecureauth
CSRF_TOKEN=gosecureauth

# POSTGRESQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=gosecureauth
POSTGRES_HOST=postgresql || localhost
POSTGRES_PORT=
POSTGRES_PORT_MAPPING=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

# Rabbit MQ
RABBIT_USER=
RABBIT_PASSWORD=gosecureauth
RABBIT_URL=

# AWS SES (Send Email)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
