aws_region        = "ap-southeast-1"
key_name          = "prod-key-pair"
allowed_ssh_cidr  = "YOUR_IP/32"
app_port          = 8080
app_instance_type = "t3.small"

db_name     = "go_template"
db_username = "postgres"
db_password = "change_me_strong_password"

mq_username = "admin"
mq_password = "change_me_strong_password"

ses_sender_email = "noreply@yourdomain.com"
s3_bucket_name   = "my-app-prod-uploads"
